// fonts
$font: 'Lato', sans-serif;

// colors
$text-color: #555;
$primary-color: #f2f2f4;
$brand-color: #ff4f5b;
$white-color: #fff;
$input-color: #F5F5F5;
$border-color: #dfdfdf;
$purple-color: #ba9fcc;
$links-color: #25aaf6;
$marine-color: #26C6DA;
$navy-color: #375A64;
$sidebar-color: #1A2E35;