@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

// fonts
$font: 'Lato', sans-serif;

// colors
$text-color: #555;
$primary-color: #f2f2f4;
$brand-color: #ff4f5b;
$white-color: #fff;
$input-color: #F5F5F5;
$border-color: #dfdfdf;

/* css reset */
* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

/* login screen style */
body {
    color: $text-color;
    font-family: 'Lato', sans-serif;

    background: $primary-color url(../img/svg/background.svg) no-repeat 48vw;
    background-size: 50%;
}

.login-form-wrapper {
    width: 96%;
    max-width: 900px;
    height: 100%;
    margin: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.login-form {
    width: 50%;
    padding: 20px 32px 32px 32px;

    border: 1px solid $border-color;
    border-radius: 8px;

    background-color: $white-color;

    display: flex;
    flex-direction: column;

    button {
        color: $white-color;
        background-color: $brand-color;

        padding: 13px;
        padding-right: 45px;
        border-radius: 4px;

        font-size: 1.15em;
    
        margin-top: 9px;
    
        transition: transform .4s ease-in-out;
    }

    button:hover {
        transform: scale3d(1.02);
        transition: transform .4s ease-in-out;
    }
}

.form-group {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;

    label {
        font-weight: bold;
        margin-bottom: .5em;
    }

    input {
        padding: 13px;
        padding-right: 45px;
        border: 1px solid $border-color;
        border-radius: 4px;

        font-size: 1.1em;

        position: relative;
        background-size: 18px !important;
    }

    input#email {
        background: $input-color url('../img/svg/envelope.svg') no-repeat 96%;
    }

    input#password {
        background: $input-color url('../img/svg/key.svg') no-repeat 96%;
    }
}

/* login screen mobile devices style */

@media (max-width: 1052px) {
    body {
        background-position: center;
        background-size: contain;
    }

    .login-form-wrapper {
        justify-content: center;
    }

    .login-form {
        width: 400px;
        max-width: 85%; 
    }
}

@media (max-width: 850px) {
    body {
        background-size: 0;
    }
}